.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10% 0%;
}

.refresh-button {
  margin: 20px 0px;
}

.refresh-button:hover {
  box-shadow: 4px 4px 3px grey;
}

.error {
  display: none;
  background-color: rgb(129, 40, 40);
  padding: 5px 5px;
  border-radius: 5px;
}
